# Declare files that should always be treated as binary
*.jar binary
*.aar binary
android/gradle/wrapper/gradle-wrapper.jar binary

# Ensure scripts have correct line endings
gradlew text eol=lf
gradlew.bat text eol=crlf
